<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/dc3c90fc-f898-4ea2-8f16-d41a01cab89a/resourceGroups/rg-puzzle/providers/Microsoft.ContainerRegistry/registries/crge08</ResourceId>
    <ResourceName>crge08</ResourceName>
    <ResourceGroup>rg-puzzle</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge08.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>9e6abcbd-7c1b-46d7-854d-3aee4c057d7a</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>